// sui-Card

.sui-Card {
  background-color: $c-white;
  display: flex;
  flex-direction: column;

  &--contentFirst {
    .sui-Card-topContent {
      order: 1;
    }
  }

  &--landscape {
    flex-direction: row;

    .sui-Card-topContent {
      flex: 1 1 auto;

      img {
        display: block;
        max-width: 300px;
        width: 100%;
      }
    }

    .sui-Card-bottomContent {
      flex: 1 1 auto;
      padding: 0 1em 1em;
    }
  }
}

.sui-Card-topContent {
  flex: 1 0 auto;

  img {
    display: block;
    width: 100%;
  }
}

.sui-Card-bottomContent {
  flex: 1 0 auto;
  padding: 0 1em 1em;
}

// re-Card

.re-Card {
  @include clearfix;
  background-color: $c-white;
  margin: 40px 0;
  padding-bottom: 0;
  position: relative;
  padding: 8px;
  border: 1px solid $c-grey;

  &--highlighted {
    background-color: $c-grey;
  }

  .sui-Card {
    margin-bottom: 0;
  }

  .re-Card-meta {
    text-align: center;
    width: 100%;

    &--highlighted {
      color: $c-grey-light;
    }

    span {
      padding: 0 10px;
    }
  }

  .re-Card-ubication {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;

    &--highlighted {
      color: $c-grey-light;
    }
  }

  &-footer {
    @include clearfix; 
    display: flex;

    .re-Card-contactButton,
    .re-Card-phone,
    .re-Card-favIcon {
      background-color: $c-grey;
      border: 1px solid $c-grey;
      padding: 10px 0;
      text-align: center;
      flex: 1 0 auto;
      color: $c-grey-dark;
      margin: 0.05rem;

        &--highlighted {
          background-color: $c-grey-light;
          border: 1px solid $c-grey-light;
        }

        .re-icon {
          vertical-align: middle;
          fill: $c-grey-dark;
        }
    }

    .re-Card-contactButton,
    .re-Card-favIcon {
      transition: background .5s ease;
    }

    .re-Card-contactButton {
      -webkit-appearance: none;
      cursor: pointer;

      &:hover {
        background-color: $c-grey-light;
      }

      &.re-Card-contactButton--highlighted:hover {
        background-color: $c-grey;
      }

      span {
        display: none;
      }  
    }
  }

  .re-Card-favIcon {
    cursor: pointer;

    &:hover {
      background-color: $c-grey-light;

        .re-icon {
          fill: rgba(255,82,82,1) !important;
          fill-opacity: 1;
          stroke: rgba(255,82,82,0);
          stroke-opactiy: 0 !important;
        }
    }

    .re-icon {
      stroke: $c-grey-dark;
      fill: rgba(255,82,82,0) !important;
      fill-opacity: 0;
      transition: all 0.5s;
    }

    &.re-Card-favIcon--highlighted:hover {
      background-color: $c-grey;
    }

    &--addTofavs {
      display: block;
      padding: 20px;
      transition: background .5s ease;
    }

    &--faved {
      display: block;
      padding: 20px;
      transition: background .5s ease;
    }
  }
}

.re-Card-content {
  display: flex;
  flex-direction: column;
  height: 213px;
  justify-content: space-between;
  padding: 0;

  &--highlighted {
    background-color: $c-grey;
  }
}

.re-Card-footer--highlighted {
  background-color: $c-grey;
}

.sui-Card-bottomContent {
  padding: 0;
}

.re-Card-clientlogo {
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 115px;
}

.re-Card-priceContainer {
  color: $c-accent;
  margin: 0;
  text-align: center;

  &--price {
    display: inline-block;
    position: relative;

      .re-Headline {
        display: inline-block;
      }

      .re-Card-priceContainer--price-down svg,
      .re-Card-priceContainer--price-down + .re-Headline {
        fill: $c-accent;
        color: $c-accent;
        font-weight: 600;
      }


    @media screen and (max-width: 768px){
      float: none;
    }
  }

  &--highlighted {
    color: $c-grey-light;
  }

  &--price-down {
    margin: 0;

    @media screen and (max-width: 768px){
      display: inline-block;
      float: none;
    }
  }

  .re-Card-priceFrom {
    margin-right: 7px;
  }
}

.re-Card-label {
  bottom: 0;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 120px;
}

.re-Card-topcomponent {
  position: relative;
}

.re-Card-bumpdate {
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: -38px;
}

.re-Card-logo {
  width: 75px;

  img {
    width: 100%;
  }
}



