/*------------------------------------*\
    Fotocasa Button Style
\*------------------------------------*/

.re-button {
	-webkit-appearance: none;
	background: $c-white;
	box-sizing: border-box;
	border-color: $c-primary;
	border-style: solid;
	border-width: 1px;
	color: $c-primary;
	cursor: pointer;
	display: inline-block;
	font-family: $font-family-stack;
	font-size: 1rem;
	font-weight: 300;
	height: 3rem;
	line-height: 1rem;
	overflow: visible; // fix horizontal space in tag button, ie
	padding: 1rem 1.5rem;
	position: relative;
	text-align: center;
  	text-decoration: none;
  	vertical-align: middle;
  	white-space: nowrap;
  	transition: all 0.2s ease-out;
	
	&:hover {
	    background: $c-primary-light;
	    border-color: transparent;
	    text-decoration: none !important;
	}


	&--small {
		font-size: .875rem;
		line-height: 1.200rem;
		padding: .500rem .750rem;
		height: 2.375rem;
	}

	&--disabled {
		background: $c-grey;
		color: $c-grey-dark;
		cursor: default;
		border: 1px solid $c-grey;

			&:hover {
				background: $c-grey;
				border: 1px solid $c-grey;
			}
	}

	&--primary {
	    background: $c-primary;
	    border-color: $c-primary;
	    color: $c-white;
	    
	    &:hover {
	    	background: $c-primary-dark;
	    }
	}

	&--accent {
		font-size: 1.250rem;
		line-height: 1.500rem;
		height: 3.875rem;
	    background: $c-accent;
	    border-color: $c-accent;
	    color: $c-white;
	    
	    &:hover {
			background: $c-accent-dark;
	    }
	}

	&--full {
		display: block;
		width: 100%;
	}
}



	


