$_color-neutroLightest:  #ffffff;
$_color-neutroDarker:    #333333;

$_color-mainLight:       #b2d6ed;
$_color-main:            #3997d3;
$_color-mainDark:        #165681;

$_color-accent:          #ec671c;
$_color-accentDark:      #c64e17;

// color scheme (private)
$_color-black: #000;
$_color-grey: lighten(black, 20%);
$_color-grey--medium: darken(white, 13.2%);
$_color-grey--light: darken(white, 8.2%);
$_color-grey--lightest: darken(white, 4%);
$_color-orange: $_color-accent;
$_color-blue: $_color-main;
$_color-babyblue: #b7e1f4;
$_color-green: #40b31a;
$_color-red: #b31a1a;

$text-color: $_color-grey;
$link-color: #09f;

$bg-color: #fff;

.color-black {
  background-color: #000;
}
